/* common code start*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
.color--home{
  color: #7a72ff;
  font-family: serif;
}
.color{
  color: #7a72ff;
  font-family: 'myriad pro';
}

/* common code end*/

/* home start*/
.home{
  width: 100%;
  height: 100vh;
}
.header__logo{
  position: absolute;
  top: 50px;
  left: 90px;
}
.header__a{
  font-size: 2rem;
  font-weight: bold;
  color: #2f2e41;
  letter-spacing: 1px;
  text-shadow: 2px 2px 30px rgba(0,0,0,.2)
}
.header__search{
  position: fixed;
  right: 45px;
  top: 25px;
  width: 170px;
  height: 45px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10% / 50%;
  box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
  box-sizing: border-box;
  border: 1px solid rgba(167,158,245,0.2);
  
}

.search__box input{
  width: 100px;
  height: 20px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  outline: none;
  background: transparent;
  color: #1f1f1f;
  font-size: 1rem;
}
.search__box input::placeholder{
  font-size: .7rem;
  color: #1d1d1d;
  font-weight: normal;
  font-family: poppins;
  letter-spacing: 2px;
}

.home__image{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15% , -15%);
  
}
.home__img{
  width: 300px;
}
.home__button{
  position: absolute;
  top: 55%;
  left: 80%;
  transform: translate(-80%, -55%)
}
.button__h2 ,.button__h3{
  font-family: roboto;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
  font-size: 3rem;
  color: #3d3d4a;
  text-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  margin: 0;
}
.button__h2{
  letter-spacing: 23px
}
.btn{
  background: #2f2e41;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: 10px 45px;
  margin: 15px 0;
  border-radius: 10% / 50%;
  font-size: 1rem;
  font-family: calibri;
  cursor: pointer;
}

.btn:hover{
  background: #6e64ff;
  transition: ease .2s ease ;
  
}
.nav{
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2);
  padding: 5px 0;
  z-index: 1;
  
}

.nav a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}

.nav a i{
  color: rgba(0, 0, 0, .88);
}

.nav a:hover .fa-facebook-f{
  color: #3b5998;
}

.nav a:hover .fa-youtube{
  color: #ff0000;
}

.nav a:hover .fa-vk{
  color: #00acee;
}

.nav a:hover .fa-twitter{
  color: #00acee;
}
/* home start*/


/* product start*/
.product{
  width: 85%;
  background: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(163, 163, 163, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  border-radius: 10px;
  padding: 40px 20px;
  position: relative;
  background-size: 1000px;
}
.product__h3{
  margin: 30px;
  letter-spacing: 2px;
  color: #323543;
}
.product__section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  width: 100%;
}
.product__box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 290px;
  margin: 10px 30px;
  position: relative;
  border-radius: 10px;
}
.product__box:hover{
  box-shadow: 3px 3px 30px rgba(138, 138, 138, 0.23);
}
.product__box img {
  height: 100px;
}

.product__box p{
  color: #4d4d4d70;
  font-size: .9rem;
  letter-spacing: .5px;
  font-family: 'myriad pro';
  margin-top: 20px;
}
.product__box a{
  color: #2c2c2c;
  font-size: 1rem;
  margin-top: 15px;
}
a.box__a{
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  border-radius: 15% / 50%;
  padding: 10px 15px;
  display: none;
  transition: .2s linear;
}
.product__box:hover .box__a{
  display: flex;
  background: linear-gradient(to left, #3784FF,#0C17FF);
  color: #fff;
}
.product__box:hover a:last-child{
  transition: all ease .2s;
}
/* product end*/


/* about start*/
.about{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 30px;
  margin: 70px;

}
.about__box{
  width: 40%;
  font-family: 'myriad pro'
}
.about__box h1{
  color: #333333;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.about__box h3{
  color: #333333;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'myriad pro';
  margin-bottom: 10px;
  
}
.about__box p{
  color: #bdbdbd;
  font-size: 1rem;
}
.about__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* about end*/


/* notification start*/
.notification{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.notification h2{
  font-size: 2rem;
  color: rgba(56, 56, 56, 1);
  margin-bottom: 30px;
}
.notification__input{
  background: #fff;
  box-shadow: 2px 2px 30px rgba(138, 138, 138, 0.38);
  width: 500px;
  height: 60px;
  border-radius: 7%  / 50%;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification__input input{
  width: 100%;
  padding: 5px 15px;
  font-size: 1rem;
  background: transparent;
  outline: none;
  border: none;
  
}
.notification__btn{
  background: #202020;
  padding: 10px 25px;
  border-radius: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.notification__btn:hover{
  background: #6b60ec;
  transition: all ease .5s;
}
/* notification end*/


/* footer start*/
.footer{
  padding: 15px 20px;
  background: black;
}
.footer__p{
  text-align: center;
  color: #FFFFFF;
  font-size: .8rem
}
.footer__p span{
  text-transform: uppercase;
  color: #6A77FF;
}
/* footer end*/