*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.section{
  width: 100%;
  height: auto;
}
.logo{
  position: absolute;
  top: 50px;
  left: 90px;
}
.logo__a{
  font-size: 2rem;
  font-weight: bold;
  color: #2f2e41;
  letter-spacing: 1px;
  text-shadow: 2px 2px 30px rgba(0,0,0,.2)
}
.search{
  position: absolute;
  right: 90px;
  top: 50px;
  width: 170px;
  height: 45px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 10% / 50%;
  box-shadow: 2px 2px 30px rgba(167,158,245,0.2);
  box-sizing: border-box;
  border: 1px solid rgba(167,158,245,0.2);
  
}

.search__box input{
  width: 100px;
  height: 20px;
  box-sizing: border-box;
  padding: 0 5px;
  border: none;
  outline: none;
  background: transparent;
  color: #1f1f1f;
  font-size: 1rem;
}
.search__box input::placeholder{
  font-size: .8rem;
  color: #1d1d1d;
  font-weight: normal;
  font-family: poppins;
  letter-spacing: 2px;
}

.section1{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15% , -15%);
  
}
.section1__img{
  width: 300px;
}
.section1__button{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%)
}
.section1__button h2 ,h3{
  font-family: roboto;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 60px;
  font-size: 4rem;
  color: #3d3d4a;
  text-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  margin: 0;
}
.section h2{
  letter-spacing: 28px
}
.color{
  color: #7a72ff;
  font-family: serif;
}
.btn{
  background: #2f2e41;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: 10px 45px;
  margin: 15px 0;
  border-radius: 10% / 50%;
  font-size: 1rem;
  font-family: calibri;
  cursor: pointer;
}

.btn:hover{
  background: #6e64ff;
  transition: ease .2s ease ;
  
}
.nav{
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2);
  padding: 5px 0;
  z-index: 1;
  
}

.nav a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}

.nav a i{
  color: rgba(0, 0, 0, .88);
}

.nav a:hover .fa-facebook-f{
  color: #3b5998;
}

.nav a:hover .fa-youtube{
  color: #ff0000;
}

.nav a:hover .fa-vk{
  color: #00acee;
}

.nav a:hover .fa-twitter{
  color: #00acee;
}
